@import 'fonts';
@import "~bootstrap/scss/bootstrap";
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.App {
    text-align: center;
    header {
        .navbar:not(.mobile-nav) {
            display: none;
        }
        .navbar-dark {
            background-color: transparent !important;
            .navbar-toggler {
                padding: 0;
                margin-right: 23px;
                margin-top: -6px;
                .navbar-toggler-icon {
                    background-image: url('./images/burger.png');
                    width: 23px;
                    height: 19px;
                }
            }
            .navbar-collapse.collapse.show {
                transition: all 0.5s ease;
                background: rgba(255,255,255, .9) !important;
                //background: linear-gradient(180deg, rgba(255,255,255,0.10688025210084029) 0%, rgba(255,255,255,1) 79%) !important;
                margin: 0 -1em;
                .navbar-nav .nav-link {
                    color: #000;
                    font-weight: bold;
                }
            }
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 99;
            .navbar-brand {
                margin-left: 26px;
                .logo-img {
                    width: 182px;
                    margin-top: -5px;
                }
            }
        }
        .header-over {
            width: 100%;
            min-height: 292px;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                color: #fff;
                margin: 0;
                font-size: 32px;
                font-weight: 800;
                letter-spacing: -1.5px;
                margin-top: 112px;
            }
        }
    }
    .grid-teaser {
        margin-top: 54px;
        padding: 0 20px;
        .text-content {
            h2 {
                font-size: 25px;
                font-weight: 800;
                line-height: 28px;
                letter-spacing: -1.3px;
                margin-bottom: 1px;
            }
            p {
                font-size: 20px;
                margin-top: 12px;
                letter-spacing: -0.4px;
            }
        }
        .image-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 66px;
            img {
                width: 76%;
                margin: auto;
                margin-bottom: 38px;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .App {
        text-align: center;
        header {
            .navbar:not(.mobile-nav) {
                display: block;
            }
            .navbar.mobile-nav {
                display: none;
            }
            .navbar {
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                top: 0;
                &__list {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 36px 0;
                    .navbar__item {
                        padding: 0 20px;
                        margin: 0 28px;
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 18px;
                            font-weight: 700;
                            &.logo {
                                #logoipsum {
                                    width: 90px;
                                }
                            }
                        }
                    }
                }
            }
            .header-over {
                width: 100%;
                min-height: 540px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    color: #fff;
                    margin: 0;
                    font-size: 120px;
                    font-weight: 800;
                    letter-spacing: -2px;
                    margin-top: -14px;
                }
            }
        }
        .grid-teaser {
            margin-top: 138px;
            .text-content {
                h2 {
                    font-size: 48px;
                    font-weight: 800;
                    letter-spacing: -1.5px;
                    margin-bottom: 1px; 
                }
                p {
                    font-size: 40px;
                    font-size: 29px;
                    margin-top: 16px;
                    letter-spacing: -0.4px;
                }
            }
            .image-content {
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 100px;
                img {
                    width: 500px;
                    margin: 0 25px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .App {
        text-align: center;
        header {
            .navbar:not(.mobile-nav) {
                display: block;
            }
            .navbar.mobile-nav {
                display: none;
            }
            .navbar {
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                top: 0;
                &__list {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 20px 0;
                    .navbar__item {
                        padding: 0 20px;
                        margin: 0 15px;
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        .logo-img {
                            width: 220px;
                        }
                    }
                }
            }
            .header-over {
                min-height: 500px;
                h1 {
                    color: #fff;
                    margin: 0;
                    font-size: 60px;
                    margin-top: 0;
                }
            }
        }
        .grid-teaser {
            margin-top: 138px;
            .text-content {
                h2 {
                    font-size: 48px;
                    font-weight: 800;
                    letter-spacing: -1.5px;
                    margin-bottom: 1px; 
                }
                p {
                    font-size: 40px;
                    font-size: 29px;
                    margin-top: 16px;
                    letter-spacing: -0.4px;
                }
            }
            .image-content {
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 100px;
                img {
                    width: 500px;
                    margin: 0 25px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .App {
        text-align: center;
        header {
            .navbar:not(.mobile-nav) {
                display: block;
            }
            .navbar.mobile-nav {
                display: none;
            }
            .navbar {
                display: flex;
                justify-content: center;
                width: 100%;
                position: absolute;
                top: 0;
                &__list {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    padding: 20px 0;
                    .navbar__item {
                        padding: 0 10px;
                        margin: 0 15px;
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        .logo-img {
                            width: 185px;
                        }
                    }
                }
            }
            .header-over {
                min-height: 500px;
                h1 {
                    color: #fff;
                    margin: 0;
                    font-size: 60px;
                    margin-top: 0;
                }
            }
        }
        .grid-teaser {
            margin-top: 115px;
            .text-content {
                h2 {
                    font-size: 40px;
                }
                p {
                    font-size: 24px;
                }
            }
            .image-content {
                flex-direction: column;
                img {
                    width: 500px;
                    margin: auto;
                    margin-top: 40px;
                }
            }
        }
    }
}
